.calRoot {
  border-radius: 10px;
  color: #378760;
}

.calenderCard {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 40px;
}

.mb0 {
  margin-bottom: 0px;
}

.mt0 {
  margin-top: 0px;
}

abbr {
  text-decoration: none;
}

.react-calendar__tile--active {
  background-color: #378760;
  border-radius: 25px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #378760;
  border-radius: 25px;
}

.react-calendar__navigation__label {
  font-size: larger;
  font-weight: 500;
}
