.calRoot {
  border-radius: 10px;
  color: #378760;
}

abbr {
  text-decoration: none;
}

.react-calendar__tile--active {
  background-color: #378760;
  border-radius: 25px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #378760;
  border-radius: 25px;
}

.react-calendar__navigation__label {
  font-size: larger;
  font-weight: 500;
}
